.section--hero {
  height: 70vh;
  margin-top: 60px;
  @include breakpoint(sm) {
    height: 60vh;
    margin-top: 100px;
  }
  .row {
    flex-direction: column-reverse;
    @include breakpoint(sm) {
      flex-direction: row;
    }

    .introduction {
      margin-top: 75px;
      @media screen and (min-width: 520px ) {
        width: 300px;
      }
      @media screen and (min-width: 768px) {
        width: 100%;
      }
      @include breakpoint(sm) {
        margin-top: 0;
      }
    }

    h1, h2 {
      color: palette(blue);
    }

    .img__wrapper {
      @include breakpoint(sm) {
        margin-right: 60px;
      }
      img {
        display: block;
        height: 370px;
        margin: 0 auto;

        @include breakpoint(sm) {
          display: inline;
          height: 420px;
        }
      }
    }
  }
}
