.wave {
  position: absolute;
  left: 50%;
  bottom: -105px;
  transform: translate(-50%);
  width: 100%;
  max-width: 100vw;
  fill: white;
  z-index: 99;

  @include breakpoint(sm) {
    bottom: -165px;
  }

  @include breakpoint(lg) {
    bottom: -285px;
  }
}
