.section--work__item {
  @include neumorphicBlue(30px, normal);
  height: 550px;
  color: palette(white);
  padding: 25px 25px;
  cursor: pointer;
    

    &:hover {
      @include neumorphicBlue(30px, hover)
    }

    &:active {
      @include neumorphicBlue(30px, clicked)
    }


    .img__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 6px;
        width: 100%;
        height: 250px;

        img {
            max-width: 200px;
        }
    }

    .description {
      height: 160px;
    }
}