@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Inter:wght@200;300;400&family=Karla&family=Spectral&display=swap');

p,a,span {
  color: #145374;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Karla', sans-serif;
}

h1,h2,h3,h4 {
  color: #145374;
}

li {
  color: #145374;
  padding-left: 0;
}

ul {
  list-style-type: circle;
}
