$base-font-size: 16px !default;

// Screen breakpoints
// ==============================
$screen-xxs: 20em;
$screen-xs: 30rem;
$screen-sm: 48rem;
$screen-md: 64rem;
$screen-lg: 75rem;
$screen-xlg: 80rem;

$transition-time: .15s;

$box-shadow-bottom: 0 2px 2px rgba(0, 0, 0, 0.031),
0 5px 5px rgba(0, 0, 0, 0.044),
0 10px 10px rgba(0, 0, 0, 0.055),
0 17px 17px rgba(0, 0, 0, 0.066),
0 32px 32px rgba(0, 0, 0, 0.079);

$box-shadow-top: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
